In [1]:
#importing

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

# Dataset

In [2]:
#loading dataset

books=pd.read_csv(r'/content/Books.csv')
ratings=pd.read_csv(r'/content/Ratings.csv')
users=pd.read_csv(r'/content/Users.csv')

# Data Pre-Processing

In [3]:
books.shape

(27690, 8)

In [4]:
books.head()

         ISBN  ...                                        Image-URL-L
0  0195153448  ...  http://images.amazon.com/images/P/0195153448.0...
1  0002005018  ...  http://images.amazon.com/images/P/0002005018.0...
2  0060973129  ...  http://images.amazon.com/images/P/0060973129.0...
3  0374157065  ...  http://images.amazon.com/images/P/0374157065.0...
4  0393045218  ...  http://images.amazon.com/images/P/0393045218.0...

[5 rows x 8 columns]

In [5]:
books.dropna()

             ISBN  ...                                        Image-URL-L
0      0195153448  ...  http://images.amazon.com/images/P/0195153448.0...
1      0002005018  ...  http://images.amazon.com/images/P/0002005018.0...
2      0060973129  ...  http://images.amazon.com/images/P/0060973129.0...
3      0374157065  ...  http://images.amazon.com/images/P/0374157065.0...
4      0393045218  ...  http://images.amazon.com/images/P/0393045218.0...
...           ...  ...                                                ...
27684  074931334X  ...  http://images.amazon.com/images/P/074931334X.0...
27685  1853833762  ...  http://images.amazon.com/images/P/1853833762.0...
27686  0446353728  ...  http://images.amazon.com/images/P/0446353728.0...
27687  0553288334  ...  http://images.amazon.com/images/P/0553288334.0...
27688  080410753x  ...  http://images.amazon.com/images/P/080410753X.0...

[27689 rows x 8 columns]

In [6]:
books.shape

(27690, 8)

In [7]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27690 entries, 0 to 27689
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ISBN                 27690 non-null  object
 1   Book-Title           27690 non-null  object
 2   Book-Author          27690 non-null  object
 3   Year-Of-Publication  27689 non-null  float64
 4   Publisher            27689 non-null  object
 5   Image-URL-S          27689 non-null  object
 6   Image-URL-M          27689 non-null  object
 7   Image-URL-L          27689 non-null  object
dtypes: float64(1), object(7)
memory usage: 1.7+ MB

In [8]:
books=books.drop(['Image-URL-S','Image-URL-M','Image-URL-L'], axis=1)

In [9]:
books.shape

(27690, 5)

In [10]:
books.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            0
Year-Of-Publication    1
Publisher              1
dtype: int64

In [11]:
books['Year-Of-Publication'].fillna(books['Year-Of-Publication'].mean(), inplace = True)
books['Publisher'].fillna(books['Publisher'].mode()[0], inplace=True)

In [12]:
books.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            0
Year-Of-Publication    0
Publisher              0
dtype: int64

In [13]:
books

             ISBN  ...                   Publisher
0      0195153448  ...     Oxford University Press
1      0002005018  ...       HarperFlamingo Canada
2      0060973129  ...             HarperPerennial
3      0374157065  ...        Farrar Straus Giroux
4      0393045218  ...  W. W. Norton &amp; Company
...           ...  ...                         ...
27685  1853833762  ...                  Kogan Page
27686  0446353728  ...                Warner Books
27687  0553288334  ...               Spectra Books
27688  080410753x  ...                   Ivy Books
27689  0525034692  ...            Ballantine Books

[27690 rows x 5 columns]

In [14]:
ratings.shape

(386018, 3)

In [15]:
ratings.describe()

             User-ID    Book-Rating
count  386018.000000  386017.000000
mean    51811.887464       2.994376
std     44519.381939       3.892684
min         2.000000       0.000000
25%     24195.000000       0.000000
50%     45956.500000       0.000000
75%     70931.000000       7.000000
max    278854.000000      10.000000

In [16]:
ratings.dropna()

        User-ID        ISBN  Book-Rating
0        276725  034545104X          0.0
1        276726  0155061224          5.0
2        276727  0446520802          0.0
3        276729  052165615X          3.0
4        276729  0521795028          6.0
...         ...         ...          ...
386012    93092  0142004235          9.0
386013    93092  0156628708          0.0
386014    93092  0192833634          0.0
386015    93092  0192833677          9.0
386016    93092  0192833715          8.0

[386017 rows x 3 columns]

In [17]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 386018 entries, 0 to 386017
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   User-ID      386018 non-null  int64
 1   ISBN         386018 non-null  object
 2   Book-Rating  386017 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 8.8+ MB

In [18]:
ratings.isnull().sum()

User-ID        0
ISBN           0
Book-Rating    1
dtype: int64

In [19]:
ratings['Book-Rating'].fillna(ratings['Book-Rating'].mean(), inplace=True)

In [20]:
ratings.isnull().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [21]:
ratings

        User-ID        ISBN  Book-Rating
0        276725  034545104X     0.000000
1        276726  0155061224     5.000000
2        276727  0446520802     0.000000
3        276729  052165615X     3.000000
4        276729  0521795028     6.000000
...         ...         ...          ...
386013    93092  0156628708     0.000000
386014    93092  0192833634     0.000000
386015    93092  0192833677     9.000000
386016    93092  0192833715     8.000000
386017    93092      019283     2.994376

[386018 rows x 3 columns]

In [22]:
users

        User-ID                                Location   Age
0             1                      nyc, new york, usa   NaN
1             2               stockton, california, usa  18.0
2             3         moscow, yukon territory, russia   NaN
3             4               porto, v.n.gaia, portugal  17.0
4             5      farnborough, hants, united kingdom   NaN
...         ...                                     ...   ...
186833   186834                hanford, california, usa  54.0
186834   186835                     tampa, florida, usa   NaN
186835   186836  scotland, renfrewshire, united kingdom  23.0
186836   186837               schofield, wisconsin, usa  39.0
186837    18683                                     NaN   NaN

[186838 rows x 3 columns]

In [23]:
users.describe()

             User-ID            Age
count  186838.000000  112611.000000
mean    93418.599996      34.770520
std     53935.473256      14.436054
min         1.000000       0.000000
25%     46709.250000      24.000000
50%     93418.500000      32.000000
75%    140127.750000      44.000000
max    186837.000000     244.000000

In [24]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [25]:
users.isnull().sum()

User-ID         0
Location        1
Age         74227
dtype: int64

In [26]:
#many null values in Age column
users=users.drop(['Age'],axis=1)

In [27]:
users.shape

(186838, 2)

In [28]:
users.isnull().sum()

User-ID     0
Location    1
dtype: int64

In [29]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186838 entries, 0 to 186837
Data columns (total 2 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   User-ID   186838 non-null  int64
 1   Location  186837 non-null  object
dtypes: int64(1), object(1)
memory usage: 2.9+ MB

In [30]:
users['Location'].fillna(users['Location'].mode(), inplace=True)

In [31]:
dataset=pd.merge(books,ratings,on='ISBN')

In [32]:
dataset=pd.merge(dataset,users,on='User-ID')

In [33]:
dataset.shape

(165006, 8)

In [34]:
dataset.head()

         ISBN  ...                   Location
0  0195153448  ...  stockton, california, usa
1  0002005018  ...   timmins, ontario, canada
2  0060973129  ...   timmins, ontario, canada
3  0374157065  ...   timmins, ontario, canada
4  0393045218  ...   timmins, ontario, canada

[5 rows x 8 columns]

In [35]:
dataset.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            0
Year-Of-Publication    0
Publisher              0
User-ID                0
Book-Rating            0
Location               0
dtype: int64

In [36]:
print("Unique values in 'ISBN' : ",len(pd.unique(dataset['ISBN'])))
print("Unique values in 'Book-Title' : ",len(pd.unique(dataset['Book-Title'])))
print("Unique values in 'Book-Author' : ",len(pd.unique(dataset['Book-Author'])))
print("Unique values in 'Year-Of-Publication' : ",len(pd.unique(dataset['Year-Of-Publication'])))
print("Unique values in 'Publisher' : ",len(pd.unique(dataset['Publisher'])))
print("Unique values in 'User-ID' : ",len(pd.unique(dataset['User-ID'])))
print("Unique values in 'Location' : ",len(pd.unique(dataset['Location'])))

Unique values in 'ISBN' :  27671
Unique values in 'Book-Title' :  25790
Unique values in 'Book-Author' :  13682
Unique values in 'Year-Of-Publication' :  73
Unique values in 'Publisher' :  3302
Unique values in 'User-ID' :  21680
Unique values in 'Location' :  8358

In [37]:
dataset.dropna()

              ISBN  ...                                Location
0       0195153448  ...               stockton, california, usa
1       0002005018  ...                timmins, ontario, canada
2       0060973129  ...                timmins, ontario, canada
3       0374157065  ...                timmins, ontario, canada
4       0393045218  ...                timmins, ontario, canada
...            ...  ...                                     ...
165001  8807811189  ...  codroipo, friuli venezia giulia, italy
165002  9051703708  ...   amsterdam, noord-holland, netherlands
165003  0446353728  ...                 marrero, louisiana, usa
165004  0446353728  ...                   vienna, virginia, usa
165005  0553288334  ...                      austin, texas, usa

[165006 rows x 8 columns]

In [38]:
book_matrix=dataset.pivot_table(index='User-ID',columns=['Book-Title'],values='Book-Rating')

In [39]:
book_matrix

Book-Title   Beyond IBM: Leadership Marketing and Finance for the 1990s  ...  Ã?Â?bermorgen.
User-ID                                                                  ...
2                                                         NaN            ...             NaN
8                                                         NaN            ...             NaN
9                                                         NaN            ...             NaN
10                                                        NaN            ...             NaN
12                                                        NaN            ...             NaN
...                                                       ...            ...             ...
93071                                                     NaN            ...             NaN
93074                                                     NaN            ...             NaN
93082                                                     NaN            ...             NaN
93085                                                     NaN            ...             NaN
93092                                                     NaN            ...             NaN

[21680 rows x 25790 columns]

In [40]:
name=input()

The Da Vinci Code

In [41]:
book_matrix[name]

User-ID
2       NaN
8       NaN
9       NaN
10      NaN
12      NaN
         ..
93071   NaN
93074   NaN
93082   NaN
93085   NaN
93092   NaN
Name: The Da Vinci Code, Length: 21680, dtype: float64

In [42]:
similarity=book_matrix.corrwith(book_matrix[name])

/usr/local/lib/python3.7/dist-packages/numpy/lib/function_base.py:2551: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar)
/usr/local/lib/python3.7/dist-packages/numpy/lib/function_base.py:2480: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)

In [43]:
recommendation_matrix=pd.DataFrame(similarity, columns=['Correlation_Score'])

In [44]:
recommendation_matrix

                                                    Correlation_Score
Book-Title
 Beyond IBM: Leadership Marketing and Finance f...                NaN
 It Takes Two                                                     NaN
 Q-Space (Star Trek The Next Generation, Book 47)                 NaN
 Tales of Terror and Suspense                                     NaN
' Sie belieben wohl zu scherzen, Mr. Feynman.'....                NaN
...                                                               ...
why I'm like this : True Stories                                  NaN
Â¿QuiÃ©n se ha llevado mi queso?                                  NaN
Â¿QuÃ© me quieres, amor?                                          NaN
Ã?Â?ber die Freiheit.                                             NaN
Ã?Â?bermorgen.                                                    NaN

[25790 rows x 1 columns]

In [45]:
recommendation_matrix=recommendation_matrix.sort_values('Correlation_Score',ascending=False)

In [46]:
recommendation_matrix

                                                    Correlation_Score
Book-Title
'Salem's Lot                                                      1.0
The Blue Castle                                                   1.0
The Burglar Who Liked to Quote Kipling (Bernie ...                1.0
Downtown                                                          1.0
Morgan's Run                                                      1.0
...                                                               ...
why I'm like this : True Stories                                  NaN
Â¿QuiÃ©n se ha llevado mi queso?                                  NaN
Â¿QuÃ© me quieres, amor?                                          NaN
Ã?Â?ber die Freiheit.                                             NaN
Ã?Â?bermorgen.                                                    NaN

[25790 rows x 1 columns]

In [47]:
recommendation_matrix['Count']=dataset.groupby('Book-Title')['Book-Rating'].count()

In [48]:
recommendation_matrix

                                                    Correlation_Score  Count
Book-Title
'Salem's Lot                                                      1.0     14
The Blue Castle                                                   1.0      7
The Burglar Who Liked to Quote Kipling (Bernie ...                1.0      6
Downtown                                                          1.0     13
Morgan's Run                                                      1.0     11
...                                                               ...    ...
why I'm like this : True Stories                                  NaN      6
Â¿QuiÃ©n se ha llevado mi queso?                                  NaN      1
Â¿QuÃ© me quieres, amor?                                          NaN      2
Ã?Â?ber die Freiheit.                                             NaN      1
Ã?Â?bermorgen.                                                    NaN      1

[25790 rows x 2 columns]

In [49]:
recommendation_matrix['Count'].describe()

count    25790.000000
mean         6.398061
std         15.260814
min          1.000000
25%          1.000000
50%          2.000000
75%          6.000000
max        838.000000
Name: Count, dtype: float64

In [50]:
recommendation_matrix=recommendation_matrix[recommendation_matrix['Count']>5]

In [51]:
recommendation_matrix

                                                    Correlation_Score  Count
Book-Title
'Salem's Lot                                                      1.0     14
The Blue Castle                                                   1.0      7
The Burglar Who Liked to Quote Kipling (Bernie ...                1.0      6
Downtown                                                          1.0     13
Morgan's Run                                                      1.0     11
...                                                               ...    ...
ZwÃ?Â¶lf.                                                         NaN     12
\A\" is for Alibi : A Kinsey Millhone Mystery (...                NaN      7
\Surely You're Joking, Mr. Feynman!\": Adventur...                NaN     13
iI Paradiso Degli Orchi                                           NaN     13
why I'm like this : True Stories                                  NaN      6

[6544 rows x 2 columns]

In [52]:
recommendation_matrix.dropna()

                                                    Correlation_Score  Count
Book-Title
'Salem's Lot                                                      1.0     14
The Blue Castle                                                   1.0      7
The Burglar Who Liked to Quote Kipling (Bernie ...                1.0      6
Downtown                                                          1.0     13
Morgan's Run                                                      1.0     11
...                                                               ...    ...
One Thousand White Women : The Journals of May ...               -1.0     16
Ophelia Speaks : Adolescent Girls Write About T...               -1.0     15
A Wind in the Door (Laurel Leaf Books)                           -1.0     12
Daughter of the Queen of Sheba: A Memoir                         -1.0      7
Pride and Prejudice (The Penguin English Librar...               -1.0     17

[3008 rows x 2 columns]

In [53]:
recommendation_matrix

                                                    Correlation_Score  Count
Book-Title
'Salem's Lot                                                      1.0     14
The Blue Castle                                                   1.0      7
The Burglar Who Liked to Quote Kipling (Bernie ...                1.0      6
Downtown                                                          1.0     13
Morgan's Run                                                      1.0     11
...                                                               ...    ...
ZwÃ?Â¶lf.                                                         NaN     12
\A\" is for Alibi : A Kinsey Millhone Mystery (...                NaN      7
\Surely You're Joking, Mr. Feynman!\": Adventur...                NaN     13
iI Paradiso Degli Orchi                                           NaN     13
why I'm like this : True Stories                                  NaN      6

[6544 rows x 2 columns]

In [54]:
recommendation_matrix.head()

                                                    Correlation_Score  Count
Book-Title
'Salem's Lot                                                      1.0     14
The Blue Castle                                                   1.0      7
The Burglar Who Liked to Quote Kipling (Bernie ...                1.0      6
Downtown                                                          1.0     13
Morgan's Run                                                      1.0     11

In [55]:
recommendation_matrix.isnull().sum()

Correlation_Score    3536
Count                   0
dtype: int64

In [56]:
recommendation_matrix=recommendation_matrix.dropna()

In [57]:
recommendation_matrix

                                                    Correlation_Score  Count
Book-Title
'Salem's Lot                                                      1.0     14
The Blue Castle                                                   1.0      7
The Burglar Who Liked to Quote Kipling (Bernie ...                1.0      6
Downtown                                                          1.0     13
Morgan's Run                                                      1.0     11
...                                                               ...    ...
One Thousand White Women : The Journals of May ...               -1.0     16
Ophelia Speaks : Adolescent Girls Write About T...               -1.0     15
A Wind in the Door (Laurel Leaf Books)                           -1.0     12
Daughter of the Queen of Sheba: A Memoir                         -1.0      7
Pride and Prejudice (The Penguin English Librar...               -1.0     17

[3008 rows x 2 columns]

In [58]:
recommendation_matrix=recommendation_matrix[recommendation_matrix['Correlation_Score']>0]

In [59]:
recommendation_matrix

                                                    Correlation_Score  Count
Book-Title
'Salem's Lot                                                 1.000000     14
The Blue Castle                                              1.000000      7
The Burglar Who Liked to Quote Kipling (Bernie ...           1.000000      6
Downtown                                                     1.000000     13
Morgan's Run                                                 1.000000     11
...                                                               ...    ...
Invasion                                                     0.006039     37
She Said Yes: The Unlikely Martyrdom of Cassie ...           0.005494     13
The Partner                                                  0.005351    148
Atonement: A Novel                                           0.003663     40
Gap Creek: The Story Of A Marriage                           0.003484     39

[2041 rows x 2 columns]

In [60]:
num=int(input())

10

In [61]:
recommendation_matrix.isnull().sum()

Correlation_Score    0
Count                0
dtype: int64

In [62]:
print(recommendation_matrix.head(num))

                                                    Correlation_Score  Count
Book-Title
'Salem's Lot                                                      1.0     14
The Blue Castle                                                   1.0      7
The Burglar Who Liked to Quote Kipling (Bernie ...                1.0      6
Downtown                                                          1.0     13
Morgan's Run                                                      1.0     11
The Book of Three (Chronicles of Prydain (Paper...                1.0     12
Motherhood the Second Oldest Profession                           1.0     10
Don't Sweat the Small Stuff with Your Family : ...                1.0     13
The Binding Chair : or, A Visit from the Foot E...                1.0      9
The Carousel                                                      1.0     26

In [63]:
recommendation_matrix=recommendation_matrix.drop(['Count'],axis=1)

In [64]:
print("Recommendations are : ")
book_names=recommendation_matrix.index
for i in range(num):
  print((i+1),".  ",book_names[i])

Recommendations are :
1 .   'Salem's Lot
2 .   The Blue Castle
3 .   The Burglar Who Liked to Quote Kipling (Bernie Rhodenbarr Mysteries (Paperback))
4 .   Downtown
5 .   Morgan's Run
6 .   The Book of Three (Chronicles of Prydain (Paperback))
7 .   Motherhood the Second Oldest Profession
8 .   Don't Sweat the Small Stuff with Your Family : Simple Ways to Keep Daily Responsibilities and Household Chaos from Taking Over Your Life (Don't Sweat the Small Stuff Series)
9 .   The Binding Chair : or, A Visit from the Foot Emancipation Society
10 .   The Carousel